table {
    width: 100%;
    border: 1px solid #444444;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #444444;
    padding: 10px;
}
thead {
    background-color: #a0d5f6;
}
footer {
    position: absolute;
    bottom: 0;
}

.content_table_basic tbody tr:nth-child(2n) {
    background-color: #e3f7f8;
}
.content_table_basic tbody tr:nth-child(2n+1) {
    background-color: #f1eddf;
}