<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <!--    <script th:src="@{/js/page/home.js}"></script>-->
    <script th:src="@{/js/parserMain.js}"></script>
</th:block>

<!-- Content -->
<head>
    <meta charset="UTF-8">
    <title>APITEAM-parser</title>
</head>
<div layout:fragment="content" id='wrapper'>
    <h3>Content</h3>

    <table>
        <colgroup>
            <col style="width: 10%;">
            <col style="width: 60%;">
            <col style="width: 10%;">
        </colgroup>
        <tbody>

        <tr>
            <td>SVC</td>
            <td><select id="svcList" class="lists" useYn="true" style="display:inline;width:80%;">
                <option th:each="detail, index : ${SVC_LIST}"
                        th:value="${detail}"  th:text="${detail}"></option>
            </select></td>
            <td><button class='file_select_button' value='svc' id="selectSvcFile">선택</button></td>
        </tr>
        <tr>
            <td>IMO</td>
            <td>
                <select id="imoList" class="lists" style="display:inline;width:80%;">
                    <option th:each="detail, index : ${IMO_LIST}"
                            th:value="${detail}"  th:text="${detail}"></option>
                </select>
            </td>
            <td><button class='file_select_button' value='imo' id="selectImoFile">선택</button></td>
        </tr>
        <tr>
            <td>WSVC</td>
            <td>
                <select id="wsvcList" class="lists" style="display:inline;width:80%;">
                    <option th:each="detail, index : ${WSVC_LIST}"
                            th:value="${detail}"  th:text="${detail}"></option>
                </select>
            </td>
            <td><button class='file_select_button' value='wsvc' id="selectWsvcFile">선택</button></td>
        </tr>
        <tr>
            <td>IDO</td>
            <td>
                <select id="idoList" class="lists" style="display:inline;width:80%;">
                    <option th:each="detail, index : ${IDO_LIST}"
                            th:value="${detail}"  th:text="${detail}"></option>
                </select>
            </td>
            <td><button class='file_select_button' value='ido' id="selectIdoFile">선택</button></td>
        </tr>
        <tr>
            <td>BCS</td>
            <td>
                <select id="bcsList" class="lists" style="display:inline;width:80%;">
                    <option th:each="detail, index : ${BCS_LIST}"
                            th:value="${detail}"  th:text="${detail}"></option>
                </select>
            </td>
            <td><button class='file_select_button' value='bcs' id="selectBcsFile">선택</button></td>
        </tr>
        <tr>
            <td>CMO</td>
            <td>
                <select id="cmoList" class="lists" style="display:inline;width:80%;">
                    <option th:each="detail, index : ${CMO_LIST}"
                            th:value="${detail}"  th:text="${detail}"></option>
                </select>
            </td>
            <td><button class='file_select_button' value='cmo' id="selectCmoFile" >선택</button></td>
        </tr>
        <tr>

            <td>

            </td>

        </tr>

        </tbody>

    </table>


</div>

</html>