<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <!--    <script th:src="@{/js/page/home.js}"></script>-->
    <script th:src="@{/js/parser.js}"></script>
</th:block>

<!-- Content -->
<head>
    <meta charset="UTF-8">
    <title>APITEAM-parser</title>
</head>
<div layout:fragment="content" id='wrapper'>
    <h3>Content</h3>

    <table>
        <colgroup>
            <col style="width: 20%;">
            <col style="width: 80%;">
        </colgroup>
        <tbody>
           <tr>
               <td>
                   <select id="typeSelect">
                       <option value='svc' >SVC</option>
                       <option value='imo' >IMO</option>
                       <option value='wsvc' >WSVC</option>
                       <option value='ido' >IDO</option>
                       <option value='bcs' >BCS</option>
                       <option value='cmo' >CMO</option>
                   </select>

               </td>
               <td>
                   <select id="svcList" class="lists" useYn="true" style="display:inline;width:80%;">
                       <option th:each="detail, index : ${SVC_LIST}"
                               th:value="${detail}"  th:text="${detail}"></option>
                   </select>
                   <select id="imoList" class="lists" style="display:none;width:80%;">
                       <option th:each="detail, index : ${IMO_LIST}"
                               th:value="${detail}"  th:text="${detail}"></option>
                   </select>
                   <select id="wsvcList" class="lists" style="display:none;width:80%;">
                       <option th:each="detail, index : ${WSVC_LIST}"
                               th:value="${detail}"  th:text="${detail}"></option>
                   </select>
                   <select id="idoList" class="lists" style="display:none;width:80%;">
                       <option th:each="detail, index : ${IDO_LIST}"
                               th:value="${detail}"  th:text="${detail}"></option>
                   </select>
                   <select id="bcsList" class="lists" style="display:none;width:80%;">
                       <option th:each="detail, index : ${BCS_LIST}"
                               th:value="${detail}"  th:text="${detail}"></option>
                   </select>
                   <button id="selectFile">선택</button>&nbsp;
               </td>

           </tr>

           <tr>
               <td>현재 파일</td>
               <td id="currentFile"></td>
           </tr>
           <tr>
               <td>기능</td>
               <td>데이터 생성 :
                   <button id="createTcpData">TCP데이터생성</button>&nbsp;
                   <button id="createJsonData">JSON데이터생성</button>&nbsp;
                   <button id="createTableByTcp">테이블생성(TCP데이터기반)</button>&nbsp;
                   <button id="createTableByJson">테이블생성(JSON데이터기반)</button>&nbsp;
               </td>
           </tr>
           <tr>
               <td>TCP 데이터</td>
               <td><textarea id="tcpData" name="tcpData" style="width:100%;" rows="10"></textarea></td>
           </tr>
           <tr>
               <td>JSON 데이터</td>
               <td><textarea id="jsonData" name="jsonData" style="width:100%;" rows="10"></textarea></td>
           </tr>
        </tbody>

    </table>


</div>

</html>